.section_line {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  .section_line_thine {
    margin-left: 10px;
    order: 2;
    width: 20%;
    border: 1px solid #000;
    height: 1px;
    background: #a9a9a9;
  }

  .section_line_thick {
    order: 1;
    width: 80%;
    min-height: 7px;
    background: #a9a9a9;
    border-radius: 4px;
  }
}
