

.ourClients {
    margin-top: 128px;
    .container {
        .ourClients_wrapper {
            width: 100%;
            .ourClients_title {
                text-align: center;
                text-transform: uppercase;
            }
            .ourClients_logos_row1 {
                margin-top: 43px;
                display: flex;
                justify-content: space-between;
            }
            .ourClients_logos_row2 {
                margin-top: 65px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}