.serviceElement {
    display: flex;
    align-items: center;
    .serviceElement_description {
        text-align: left;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        h1 {
           text-transform: capitalize;
           
        }
        p {
            margin-top: 20px;
        }
    }
    .serviceElement_image {
        display: flex;
        justify-content: center;
        align-items: center;
        .serviceElement_image_container {
            
        }
    }
}